.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.ht {
    height: 100%;
}

.txt {
    color: white;
}

.topbg {
    background-color: #000;
}

.bgc {
    background-color: #240731;
}

.leftcontainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.rightcontainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #240731;
}

.displayca {
    display: flex;
    justify-content: center;
}

.wholebg {
    background-color: #240731;
    color: white;
}

.card {
    height: 176px;
    width: 101px;
}

.pulled {
    height: 176px;
    width: 101px;
    background: url(C:\Users\ethan\Documents\spiritually\public\cards\tarot-back-527.jpg);
    background-size: 101px 176px;
    margin: 5px;

}

.mar {
    margin: auto;
}

.pos {
    width: 50%;
}

.link:hover {
    background-color: gray;
    color: white;
}

.menu-bg {
    background-color: black;
    color: white;
}

.text {
    text-align: center;
}

body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 80%;
    }

    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.cardbu {
    cursor: pointer;
    background-color: transparent;
    height: 178px;
    width: 103px;
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 630px;
    bottom: 572px;
}

.cardbu2 {
    cursor: pointer;
    background-color: transparent;
    height: 178px;
    width: 102px;
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 517px;
    bottom: 222px;
}

.cardbu3 {
    cursor: pointer;
    background-color: transparent;
    height: 178px;
    width: 102px;
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 628px;
    bottom: 222px;
}

.cardbu4 {
    cursor: pointer;
    background-color: transparent;
    height: 178px;
    width: 102px;
    box-shadow: 0 6px 6px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 740px;
    bottom: 222px;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.btn-blue {
    background-color: gray;
    color: white;
    height: 35px;
    width: 70px;
}

.video-responsive {
    position: relative;
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 25%;
    text-align: center;
}

.video-responsive iframe {
    position: center;
}

body {
    background-color: #240731;
}